
block content

form(method="POST", action="")
        div.input
            span.label First Name
            input(type="text", name="firstName")
            br
            span.label Last Name
            input(type="text", name="lastName")
            br
            span.label Age
            input(type="text", name="age")
        div.actions
            input(type="submit", value="submit")