extends layout

block content

    h3 Update Player with ID: #{id}
    br
    .form-group
      form(method="POST", action="")
        div.input
            span.label First Name
            br
          .form-control
            input(style="border:none", type="text", name="firstName", placeholder="John")
            br
        div.input
            span.label Last Name
            br
          .form-control
            input(style="border:none", type="text", name="lastName", placeholder="Doe")
            br
        div.input
            span.label Age
            br
          .form-control
            input(style="border:none", type="text", name="age", placeholder="27")
            br
        div.actions
            br
            input(class="btn btn-primary", type="submit", value="submit")